@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row ps-3 navbar navbar-dark bg-dark text-white">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a class="navbar-brand" href="">SafeReport.UI</a>

                <div>
                    <CultureInitializer />
                </div>
            </div>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


