
@inherits LayoutComponentBase
@using System.Globalization

<div class="page" dir="@GetCultureClass()">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <CultureInitializer />
            <NewReportNotification/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string GetCultureClass()
    {
        return CultureInfo.CurrentCulture.Name switch
        {
            "ar-EG" => "rtl",  
            "en-US" => "ltr",   
            _ => "ltr"
        };
    }
}

